<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>
</head>
<body>
    <nav>
        <a href="/">   <h1 class="home">Home</h1></a>
    </nav>
    <main>

        <div class="heading">
            <h1>HABIT TRACKER</h1>
        </div>
        
        <div class="content">
            <%- body %> 
        </div>
        
    </main>
    <%- script %>
</body>
</html>